
# 이미지 바코드 인식 > 정보 조회
![image](https://user-images.githubusercontent.com/19303143/102203714-44b80480-3f0c-11eb-9193-a899df0716f1.png)
![image](https://user-images.githubusercontent.com/19303143/102203806-61ecd300-3f0c-11eb-8add-78165c349eef.png)
